<h1 style="color:orange">OgrEkleforKaydet</h1>


<form action="..\Ogrenci\OgrKaydet" method="get">


	Öğrenci Ad:<br /><input class="form-control" type="text" name="OgrAd" /> <br />

	Öğrenci Soyad:<br /><input class="form-control" type="text" name="OgrSoyad" /> <br />

	Öğrenci No:<br /><input class="form-control" type="text" name="OgrNo" /> <br />

	<input type="submit" class="form-control" value="Kaydet"></input>



</form>






